
.table-row:hover {
    -fx-background-color: #9EE1F2
}


.table-row {
    -fx-border-color: #BFBCBC;
    -fx-boredr-width: 2;
}

.button:hover {
    -fx-background-color: #011419;
}

.button {
    -fx-background-color: #1F8FE8
}
